body {
    background-color: black;

}

.calculations,
.num,
.clear {
    width: 51px;
    height: 51px;
    font-size: 1.2em;
    text-align: center;
    border-radius: 50%;
    border: none;
}

.calculations {
    background-color: orange;
    color: white;
}

.num {
    background-color: rgb(60, 59, 59);
    color: rgb(213, 209, 209);
    margin: 5px;
}

.clear {
    background-color: rgb(124, 122, 122);
    color: rgb(29, 29, 29);
}

.num0 {
    background-color: rgb(60, 59, 59);
    color: rgb(213, 209, 209);
    border-radius: 20px;
    margin: 5px;
    width: 110px;
    text-align: center;
    font-size: 1.2em;
}

.container {
    background-image: url(iphone.png);
    background-position: center;
    width: 400px;
    height: 630px;
    margin: 50px auto;
}

.calBtn {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 80px;
    margin-top: -298px;
    gap: 9px;
}

.clearBtn {
    display: flex;
    flex-direction: row;
    margin-left: 82px;
    gap: 11px;
}

.numBtn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 78px;
    width: 200px;
    margin-top: 4px;
}

.input1,
.result{
    color: white;
    background-color: black;
    width:210px;
    text-align: end;
    border: none;
}
.input1{
    font-size: 1.2em;
    margin: 190px 88px 0px;
    height:30px;
}
.result {
    font-size: 1.6em;
    margin: 10px 88px;
}
